groups:
  - name: node_alerts
    rules:
      - alert: HighCPUUsage
        expr: 100 - (avg by (instance) (rate(node_cpu_seconds_total{mode="idle"}[5m])) * 100) > 2
        for: 1m
        labels:
          severity: critical
        annotations:
          summary: "CPU usage is high"
          description: "CPU usage is above 2% for more than 1 minute."